# Ignorar arquivos e pastas comuns do Java
*.class
*.war
*.ear
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.ipr
*.iws
out/
bin/
target/
build/
.gradle/
.idea/
/.classpath
/.project
/.settings/
/.vscode/
# Ignorar arquivos gerados por IDEs
*.launch
*.metadata
*.recommenders
# Ignorar arquivos de sistema
Thumbs.db
